<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel='styleshhet' href="{{url_for('static', filename='sajeon_style.css')}}">

    <!-- Jquery Import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    
    <title>사전</title>





</head>

<script>

    function search_word() {
        let search_word = $('#search_input').val();
        let search_data = { 'search_give': search_word }


        $.ajax({
            type: "POST",
            url: "/search",
            data: search_data,
            success: function (response) {
            console.log (response['result'])
            }
        });
    }








</script>



<body>
    <h1>사전</h1>




    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">검색어</span>
        </div>
        <input type="text" class="form-control" id="search_input" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
    </div>

    <button type="button" class="btn btn-primary btn-lg" onclick= "search_word();">검색</button>




</body>

</html>