<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel='styleshhet' href="{{url_for('static', filename='sajeon_style.css')}}">

    <!-- Jquery Import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    
    <title>사전</title>





</head>

<script>

    function search_word() {
        let search_word = $('#search_input').val();
        let search_data = { 'search_give': search_word }


        $.ajax({
            type: "POST",
            url: "/search",
            data: search_data,
            success: function (response) {
            if (response['result']=='success'){
                console.log(response['data'])
                C_recieve = response['data'][0]
                console.log(C_recieve)
                C_Word_Class=C_recieve['C_Word_Class']
                console.log(C_Word_Class)
                C_Def=C_recieve['C_Def']
                console.log(C_Def)
                C_Exam=C_recieve['C_Exam']
                console.log(C_Exam)
                // console.log(C_Word_Class, C_def, C_Exam)
                
                J_recieve = response['data'][1]
                console.log(J_recieve)
                J_Word_Class=J_recieve['J_Word_Class']
                console.log(J_Word_Class)
                J_Def=J_recieve['J_Def']
                console.log(J_Def)
                J_Exam=J_recieve['J_Exam']
                console.log(J_Exam)

                K_recieve = response['data'][2]
                console.log(K_recieve)
                K_Word_Class=K_recieve['K_Word_Class']
                console.log(C_Word_Class)
                K_Def=K_recieve['K_Def']
                console.log(K_Def)
                K_Exam=K_recieve['K_Exam']
                console.log(K_Exam)

                E_recieve = response['data'][3]
                console.log(E_recieve)
                E_Word_Class=E_recieve['E_Word_Class']
                console.log(E_Word_Class)
                E_Def=E_recieve['E_Def']
                console.log(E_Def)
                E_Exam=E_recieve['E_Exam']
                console.log(E_Exam)
                
            } else{
                alert('리뷰를 받아오지 못했습니다.')
            }
            
            
            }
        });

    }

    function temp_html() {


    } 
</script>



<body>
    <h1>사전</h1>
<p>

</p>



    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">검색어</span>
        </div>
        <input type="text" class="form-control" id="search_input" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
    </div>

    <button type="button" class="btn btn-primary btn-lg" onclick= "search_word();">검색</button>




</body>

</html>